In [1]:
#task 1 Some of in-built functions

In [3]:
a = (2,5,8)
print(a)

(2, 5, 8)

In [8]:
sum(a)

15

In [9]:
type(a)

tuple

In [10]:
max(a)

8

In [11]:
hash(a)

-3967389049722794263

In [14]:
bytes(a)

b'\x02\x05\x08'

In [15]:
list(a)

[2, 5, 8]

In [16]:
min(a)

2

In [17]:
repr(a)

'(2, 5, 8)'

In [18]:
#task 2 check if "to" is present in "welcome to python"

In [19]:
str1 = "welcome to python"

In [24]:
str1[7:10]

' to'

In [25]:
#task 3 create a list of lenght = 10 and access 5th to 8th data

In [29]:
list1 = [1,3,6,8,7,2,5,9,4,0]

In [30]:
print(list1)

[1, 3, 6, 8, 7, 2, 5, 9, 4, 0]

In [31]:
len(list1)

10

In [36]:
list1[-6:-2] #access to 5th to 8th data

[7, 2, 5, 9]

In [37]:
#in-built methods like remove(),count(),clear(),sort(),reverse()

In [38]:
print(list1)

[1, 3, 6, 8, 7, 2, 5, 9, 4, 0]

In [39]:
rem = list1.pop(5)

In [40]:
print(rem)

2

In [46]:
list1.count(1)

1

In [47]:
list1.clear()

In [48]:
print(list1.clear())

None

In [53]:
list2 = [1,0,4,4,6,7,8,5]

In [54]:
print(list2)

[1, 0, 4, 4, 6, 7, 8, 5]

In [61]:
list2.sort()

In [62]:
print(list2.sort())

None

In [64]:
list2.reverse()

In [65]:
print(list2.reverse())

None

In [68]:
#task 4 add item 70 after 60 in the following python list
#input (contd in the end)

In [79]:
listl1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [80]:
print(listl1)

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [85]:
#task 4 -> add sublist [7,8] after 6

In [86]:
#input
l2 = [1,2,[3,4,5,6],9]

In [87]:
print(l2)

[1, 2, [3, 4, 5, 6], 9]

In [92]:
l2[2][3]

6

In [29]:
l2 = [1,2,[3,4,5,6],9]

In [72]:
l2[2][3] = 6,[7,8]

In [73]:
print(l2)

[1, 2, [3, 4, 5, (6, [7, 8])], 9]

In [75]:
# task 5
 #do the following tasks
#1) access "Mike"
#2) access 80
#3) change "Mike" to "Your name"
#4) add ML = 80 and DL = 80 inside marks

In [98]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [100]:
len(dict1)

1

In [102]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [103]:
#accessing 'mike'
dict1["april_batch"]["student"]["name"]

'Mike'

In [104]:
#accessing 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [7]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [8]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [9]:
#add ml=80 and dl=80 inside marks

In [10]:
dict1['ml'] = 80

In [11]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}},
 'ml': 80}

In [12]:
dict1['dl'] = 80

In [13]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}},
 'ml': 80,
 'dl': 80}

In [14]:
#change 'mike' to 'your name'

In [15]:
dict1['Mike'] = 'your name'

In [16]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}},
 'ml': 80,
 'dl': 80,
 'Mike': 'your name'}

In [38]:
#task 4 contd:

In [42]:
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]

In [43]:
print(l1)

[10, 20, [30, 40, [50, 60], 80], 90, 100]

In [54]:
l1[2][2][1]

60

In [59]:
l1[2][2][1] = 60,70

In [60]:
print(l1)

[10, 20, [30, 40, [50, (60, 70)], 80], 90, 100]