In [1]:
#Add and remove elements from a tuple

In [3]:
tup1 = (2,3,4.4,5.5,6.6,8)
tup1

(2, 3, 4.4, 5.5, 6.6, 8)

In [4]:
type(tup1)

tuple

In [5]:
#convert to list

In [7]:
list1 = list(tup1)
list1

[2, 3, 4.4, 5.5, 6.6, 8]

In [8]:
#add elements to tuple

In [9]:
list1[1] = 10

In [10]:
list1

[2, 10, 4.4, 5.5, 6.6, 8]

In [15]:
tup1 = tuple(list1)

In [16]:
tup1

(2, 10, 4.4, 5.5, 6.6, 8)

In [17]:
#remove elements from tuple

In [18]:
tup1

(2, 10, 4.4, 5.5, 6.6, 8)

In [19]:
list1 = list(tup1)

In [20]:
list1

[2, 10, 4.4, 5.5, 6.6, 8]

In [21]:
list1.pop(3)

5.5

In [24]:
list1

[2, 10, 4.4, 6.6, 8]

In [25]:
tup1 = tuple(list1)

In [26]:
tup1

(2, 10, 4.4, 6.6, 8)

In [27]:
print(7 in tup1)

False