## Task 10.3

In [2]:
#Using while loop print numbers from 10 to 1

In [3]:
count = 10
while(count>=1):
    print(count)
    count = count-1

10
9
8
7
6
5
4
3
2
1

In [4]:
#try using for loop over tuples,sets and dictionaries

In [5]:
tup1 = (35,73,"Bangalore","Mumbai")
for type in tup1:
    print(type)

35
73
Bangalore
Mumbai

In [6]:
#Using for loop over sets
set1 = {5,6,7,8,9}
for item in set1:
    print(item)

5
6
7
8
9

In [7]:
#using for loop for dictionaries

In [9]:
stateandcapital = {'Karnataka':'Bangalore' , 'Tamilnadu':'Chennai'}
for state in stateandcapital:
    print(state)

Karnataka
Tamilnadu

In [11]:
stateandcapital = {'Karnataka':'Bangalore' , 'Tamilnadu':'Chennai'}
for capital in stateandcapital.values():
    print(capital)

Bangalore
Chennai

In [12]:
stateandcapital = {'Karnataka':'Bangalore' , 'Tamilnadu': 'Chennai'}
for state,capital in stateandcapital.items():
    print(state,":",capital)

Karnataka : Bangalore
Tamilnadu : Chennai